# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
package-lock.json

# Testing
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
cucumber-report.html
cucumber-report.json
cucumber-html-report.html
screenshots/*.png

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db